<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Hisser.DesktopUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Hisser.WindowsDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Hisser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.3.5" />
      <add description="Microsoft SQL Server Compact 3.5" invariant="System.Data.SqlServerCe.3.5" name="System.Data.SqlServerCe.3.5" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=3.5.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
  <userSettings>
    <Hisser.DesktopUI.Properties.Settings>
      <setting name="address" serializeAs="String">
        <value />
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
    </Hisser.DesktopUI.Properties.Settings>
    <Hisser.WindowsDesktop.Properties.Settings>
      <setting name="username" serializeAs="String">
        <value>ronald@www.hisser.nl</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
      <setting name="refresh_interval" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="hostname" serializeAs="String">
        <value>www.hisser.nl</value>
      </setting>
      <setting name="dc_connection_string" serializeAs="String">
        <value>Data Source=isostore:/Hisser.sdf</value>
      </setting>
      <setting name="device_id" serializeAs="String">
        <value />
      </setting>
    </Hisser.WindowsDesktop.Properties.Settings>
  </userSettings>
</configuration>